<%- include('partials/header') %>
<section class="login register">
   
        <div class="wrapper">
            <div class="box-left register-left">
             <img src="/img/shapes.png" alt="">
            </div>
            <div class="box-right ">
                <div class="box box-blue">
                    <p>
                     <strong>Start the adventure.
                    </p>
                </div>
                <%- include('partials/notification') %>
                <form action="/user/register"
                method="POST" class="box" id="form">
                    <div class="form-control">
                        <label for="name">Username</label>
                      <input type="text" id="name" 
                      name="name"
                      placeholder="Username" 
                      value="<%= typeof name != 'undefined' ? name : '' %>"
                      >
                      <small></small>
                    </div>
                  <div class="form-control">
                      <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="Email Address" value="<%= typeof email != 'undefined' ? email : '' %>"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                    >
                    <small></small>
                  </div>
                  <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <small></small>
                  </div>
          
                  <button class="btn-green" type="submit">Register
                  </button>
                  <small>
                    By clicking the button, you are agreeing to our 
                    <a href="">
                      Terms and Services
                    </a>
                  </small>
                  <small>
                    Already have an account ?
                    <a href="/login">
                      Login here.
                    </a>
                  </small>
                </form>
              </div>
            </div>
    
</section>
<%- include('partials/footer') %>
